:root {
    --orange: #f08e43;
    --black: #2d2d38;
    /* secondary */
    --text: #adb7be;
    --card: #323437;
    --background: #212224;
    --box: #282a2c;
}

/*Common start*/
* {
    transition: 1s;
}

body {
    font-family: "Open Sans", sans-serif !important;
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-size: 14px !important;
}

button,
.linkButton {
    background-color: var(--orange);
    color: white;
    padding: 8px 15px;
    border-radius: 3px !important;
    border: 0px;
    text-decoration: none;
}

.linkButtonBox {
    padding-top: 8px;
    padding-bottom: 8px;
}

.closeButton {
    color: var(--text);
    cursor: pointer;
}

.page {
    width: calc(100% - 250px + 1.5rem);
    margin-left: 250px;
}

.breadcrumb svg {
    width: 14px;
    transform: translate(0px, -2px);
}

.breadcrumb a {
    color: var(--text);
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0;
}

.row > * {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/*Common end*/

/*Sidebar Start*/
.sidebar {
    background-color: var(--card);
    color: white !important;
    position: fixed;
    z-index: 10;
    overflow: hidden;
}

.sidebar a {
    color: white !important;
    min-width: 200px;
    border-left: 3px solid var(--card);
}

.sidebar a.highlight {
    border-left: 3px solid var(--orange);
    background-color: #21222462;
}

.sidebar svg {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 15px;
}

.sidebar i {
    margin-right: 15px;
}

nav label {
    margin-top: 15px;
    font-size: 10px !important;
}
/*Sidebar end*/

/*Index page start*/
.productBox {
    background-color: var(--card);
    width: calc(25% - 1.5rem);
}

.productBox > div {
    height: 100%;
}
/*Index page end*/

/*Header start*/
header {
    background-color: var(--card);
    width: calc(100% - 250px - 1.5rem);
    height: 75px;
    margin-bottom: auto;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 9;
}

/*Header end*/

/*Cart start*/
.cart {
    background-color: var(--card);
    color: var(--text);
    padding: 15px;
    position: fixed;
    right: calc((50% - (250px / 2)) * -1);
    top: 75px;
    width: calc(50% - (250px / 2));
    height: calc(100% - 75px) !important;
    overflow-y: auto;
}

.cartOrder {
    height: 100%;
}
/*Cart end*/

/*Excavator start*/
.content {
    margin-top: 75px;
    width: 100%;
}
/*Excavator end*/

/* Table start */
table {
    width: 100%;
}

tr {
    border: #adb7be solid 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;

}

thead tr {
    border: none !important;
}

.tableSubheader{
    background-color: var(--orange);
    color: white;
}

.indentChild {
    
}
/* Table end */

/* Tablet size start */
@media screen and (max-width: 1000px) {
    /* Index */
    .productBox {
        width: calc(50% - 1.5rem);
    }

    /* Sidebar */
    .sidebar {
        width: 50px !important;
    }

    .sidebar img,
    .sidebar a div,
    .sidebar label {
        opacity: 0;
    }

    .page {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    header {
        background-color: var(--card);
        width: calc(100% - 50px - 1.5rem);
    }
    
    .cart {
        right: calc((50% - (50px / 2)) * -1);
        width: calc(50% - (50px / 2));
    }

    /*Revert changes on hover*/
    .sidebar:hover {
        width: 250px !important;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.125);
    }
    
    .sidebar:hover a {
        padding-left: 20px;
    }
    
    .sidebar:hover img,
    .sidebar:hover a div,
    .sidebar:hover label {
        opacity: 1; 
    }
}
/* Tablet size end */

/*Username start*/
.username { 
    padding: 10px;
}
/*Username end*/

/*Field start*/
.h3Field {
    padding: 10px;
    display: flex;
}

.fieldBoxContent {
    background-color: var(--card);
}

.fieldBoxContentImage {
    display: inline-block;
    box-sizing: content-box;
    padding: 1.5rem;
}

.fieldBoxContentImage img {
    display: block;
    max-width: 220px;
    height: auto;
}

.questionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
}

.fieldHeader {
    padding: 5px;
}

.fieldBoxContentInnerContainer {
    display: flex;
    width: 100%;
}

.fieldOptionContainer {
    background-color: var(--box);
    border: 2px solid var(--box);
    border-radius: 3px;
    width: calc(25% - 1.5rem);
    min-width: 150px;
    color: var(--text);
    transition: border 0s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.fieldOptionContainer:has(input[type="checkbox"]:checked) {
    border-color: var(--orange);
}

.fieldOption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fieldOptionPrice {
    min-width: 52px;
}

.collapsedText {
    display: none;
    background-color: var(--card);
    cursor: pointer;
    border: 2px solid var(--card);
}

.collapsedText.warning {
    border-color: red;
}

@media screen and (max-width: 1000px) {
    .fieldBoxContentImage {
        width: 0px;
        padding: calc(1.5rem / 2);
    }

    .fieldOptionContainer {
        width: calc(33% - (1.5rem / (1 + (1/9))));
    }
}

/*Field end*/


.box {
    background-color: var(--card);
}