:root {
    --orange: #f08e43;
    --black: #2d2d38;
    /* secondary */
    --text: #adb7be;
    --card: #323437;
    --background: #212224;
}

/*Common start*/
* {
    transition: 1s;
}

body {
    font-family: "Open Sans", sans-serif !important;
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-size: 14px !important;
}

.card {
    background-color: var(--card) !important;
}

button {
    background-color: var(--orange);
    color: white;
    padding: 8px 15px;
    border-radius: 3px !important;
    border: 0px;
}

.page {
    width: calc(100% - 250px);
    margin-left: 250px;
}
/*Common end*/

/*Sidebar Start*/
.sidebar {
    background-color: var(--card);
    color: white !important;
    position: fixed;
}

.sidebar a {
    color: white !important;
    margin-left: 3px !important;
}

svg {
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

i {
    margin-right: 15px;
}

nav label {
    margin-top: 15px;
    font-size: 10px !important;
}
/*Sidebar end*/

/*Header start*/
header {
    background-color: var(--card);
    width: calc(100% - 250px - 1.5rem);
    height: auto;
    margin-bottom: auto;
    padding: 10px;
    display: flex;
    position: fixed;
}

header div {
    width: 150px;
    min-width: 150px;
}

.header-text {
    width: 100%;
}
/*Header end*/

/*Cart start*/
.cart {
    background-color: var(--card);
    color: var(--text);
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    right: 0px;
    top: 75px;
    width: calc(50% - (250px / 2));
}
/*Cart end*/

/*Excavator start*/
.content {
    margin-top: 75px;
    width: 100%;
    height: 50000px;
}
/*Excavator end*/