<!-- Sidebar -->
<nav class="sidebar p-2" style="width: 250px; height: 100vh;">
    <div class="text-center">
        <img src="../static/images/unicontrol_logo.png" alt="">
    </div>
    
    <ul class="nav flex-column">
        <label>NAVIGATION</label>
        <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa-solid fa-boxes-stacked"></i>Products</a>
        </li>
        <label>ADMIN</label>
        <li class="nav-item">
            <a class="nav-link" href="#"><i data-feather="layers"></i>Django-admin</a>
        </li>
    </ul>
</nav>