<div class="cart d-flex flex-column">
    <div class="d-flex justify-content-end"><a class="closeButton"><i data-feather="x"></i></a></div>
    <table>
        <thead>
            <tr>
                <th style="width: 10%;">#</th>
                <th style="width: 55%;">Item</th>
                <th class="text-end" style="width: 20%;">MSRP</th>
                <th class="text-end" style="width: 20%;">Price</th>
                <th class="text-center" style="width: 5%;">Qty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td><small>EUR</small></td>
                <td><small>EUR</small></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="cartOrder d-flex justify-content-end align-items-end mt-4">
        <button type="submit" class="linkButton">Place order</button>
    </div>
</div>