<div class="fieldBox ms-4">
    <h3 class="h3Field">Tablet</h3>
    <div class="fieldBoxContent d-flex justify-content-start">
        <div class="fieldBoxContentImage d-flex flex-column justify-content-start">picture</div>
        <div class="fieldBoxContentInnerContainer d-flex flex-column justify-content-start">

            <div class="fieldBoxContentInnerMainContainer d-flex justify-content-start">
                <div class="fieldBoxContentInnerMainHeader d-flex flex-column justify-content-start">
                    <p class="mb-0">Size</p>
                    <div class="fieldBoxContentInnerMainContent d-flex flex-row">
                        <div>8" tablet</div>
                        <div>10" tablet</div>
                        <div>12" tablet</div>
                        <div>14" tablet</div>
                        <div>16" tablet</div>
                    </div>
                </div>
            </div>
            <div class="fieldBoxContentInnerSecondary d-flex justify-content-start">
                <div class="fieldBoxContentInnerSecondaryHeader d-flex flex-column justify-content-start">
                    <p class="mb-0"> Tablet Mounting</p>
                    <div class="fieldBoxContentInnerSecondaryContent d-flex flex-row">
                        <div>Suction cups</div>
                        <div>Glue plates</div>
                        <div>Rail mounts</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>