<div class="fieldBox m-4">
    {% for category, fields in grouped_data.items %}
    <h3 class="h3Field">{{ category }}</h3>    
    <div class="fieldBoxContent d-flex justify-content-start">
        <div class="fieldBoxContentImage d-flex flex-column justify-content-start">
            <img src="static/images/field_image.png" alt="Field Image" />
        </div>
        <div class="fieldBoxContentInnerContainer d-flex flex-column gap-4 pt-4 pb-4">
            {% for field_data in fields %}
            <div class="fieldBoxContentInnerMainContainer d-flex flex-column">
                <div class="fieldBoxContentInnerHeaderTop d-flex gap-2">
                    <div class="fieldHeader mb-0 h6">{{ field_data.field.lableText }}</div>
                    <div class="questionIcon"><i data-feather="help-circle"></i></div>
                </div>
                <div class="fieldBoxContentInner d-flex flex-row gap-4 flex-wrap">
                    {% for option_data in field_data.options %}
                    <label class="fieldOptionContainer d-flex flex-row gap-2 justify-content-between p-2">
                        <input type="radio" name="field_{{ field_data.field.id }}" value="{{ option_data.option.id }}" />
                        <div class="fieldOption mb-0"><b>{{ option_data.option.optionText }}</b></div>
                        <div class="fieldOptionPrice mb-0">{{ option_data.prices.EUR }} <small>EUR</small></div>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    // const options = $(".fieldOptionContainer")

    // $(".fieldOptionContainer").on("click", function() {
    //     if ($(this).hasClass("selected")) {
    //         $(this).toggleClass("selected");
    //     } else {
    //         options.removeClass("selected")
    //         $(this).addClass("selected")
    //     }
        
    // });
</script>