<div class="fieldBox ms-4">
    {% for item in data %}
    <h3 class="h3Field">Tablet</h3>    
    <div class="fieldBoxContent d-flex justify-content-start">
        <div class="fieldBoxContentImage d-flex flex-column justify-content-start">
            <img src="static/images/field_image.png" alt="Field Image" />
        </div>
        <div class="fieldBoxContentInnerContainer d-flex flex-column justify-content-start">

            <div class="fieldBoxContentInnerMainContainer d-flex justify-content-start">
                <div class="fieldBoxContentInnerMainHeader d-flex flex-column justify-content-start">
                    <div class="fieldBoxContentInnerHeaderTop d-flex flex-row">
                    <div class="fieldHeader mb-0 h5">{{ item.category.lableText }}</div>
                    <div class="questionIcon"><i data-feather="help-circle"></i></div>
                    </div>
                        <div class="fieldBoxContentInner d-flex flex-row gap-4 flex-wrap">
                            {% for option in item.options %}
                            <div class="fieldOptionContainer d-flex flex-row">
                                <div class="fieldOption mb-0 h5">{{ option.optionText }}</div>
                                <div class="fieldOptionPrice mb-0">100 EURO</div>
                            </div>
                            {% endfor %}
                                
                            
                        </div>
                    </div>
                </div>
                <div class="fieldBoxContentInnerSecondary d-flex justify-content-start">
                    <div class="fieldBoxContentInnerSecondaryHeader d-flex flex-column justify-content-start">
                        <div class="fieldBoxContentInnerHeaderTop d-flex flex-row">
                        <div class="fieldHeader mb-0 h5">Tablet Mounting</div>
                        <div class="questionIcon"><i data-feather="help-circle"></i></div>
                        </div>
                        <div class="fieldBoxContentInner d-flex flex-row">
                            <div>Suction cups</div>
                            <div>Glue plates</div>
                            <div>Rail mounts</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>