<!-- Sidebar -->
<nav class="sidebar p-2" style="width: 250px; height: 100vh;">
    <div class="text-center">
        <img src="../static/images/unicontrol_logo.png" alt="">
    </div>
    
    <ul class="nav flex-column">
        <label>NAVIGATION</label>
        <li class="nav-item">
            <a class="nav-link active d-flex" href="/">
                <i class="fa-solid fa-boxes-stacked"></i>
                <div>Products</div>
            </a>
        </li>
        <li class="nav-item fakeLink">
            <a class="nav-link active d-flex" href="#">
                <i data-feather="layers"></i>
                <div>Orders</div>
            </a>
        </li>
        <li class="nav-item fakeLink">
            <a class="nav-link active d-flex" href="#">
                <i data-feather="inbox"></i>
                <div>Subscriptions</div>
            </a>
        </li>
        <li class="nav-item fakeLink">
            <a class="nav-link active d-flex" href="#">
                <i data-feather="inbox"></i>
                <div>Licenspool</div>
            </a>
        </li>
        <li class="nav-item fakeLink">
            <a class="nav-link active d-flex" href="#">
                <i data-feather="user"></i>
                <div>My profile</div>
            </a>
        </li>
        <label style="color: red;">ADMIN</label>
        <li class="nav-item" >
            <a class="nav-link d-flex" href="/admin">
                <i data-feather="layers" style="color: red;"></i>
                <div style="color: red;">Django admin</div>
            </a>
        </li>
        <label>SUPPORT</label>
        <li class="nav-item fakeLink">
            <a class="nav-link d-flex" href="#">
                <i data-feather="help-circle"></i>
                <div>Need support?</div>
            </a>
        </li>
    </ul>
</nav>

<script>
    $(".fakeLink").on("click", function () {
        alert("This link does not work in this prototype.\nOnly 'Products' work.")
    })
</script>