{% extends "base.html" %}

{% block content %}
<div class="page">
    <form method="post" action="/summary">
        {% include 'components/header.html'%}
        {% include 'components/cart.html'%} 
        <div class="content">
            {% include 'components/username.html' %}
            <h4 class="ms-4">Excavator</h4>
            <div class="breadcrumb d-flex gap-2 ms-4">
                <a href="/"><i data-feather="home"></i></a> 
                <p>/</p>
                <b>Excavator</b>
            </div>
            {% include 'components/field.html' %}
            <div class="d-flex justify-content-end mb-4 me-4">
                <button type="submit" class="linkButton outButton">Place order</button>
            </div>
        </div> 
    </form>
</div>
{% endblock content %}

{% block script %}
<script defer>
    // cart
    const content = $(".content")
    const cart = $(".cart");
    const btnOrder = $(".btnOrder")
    const outButton = $(".outButton")
    let cartOut = false;

    function getContentWidth() {
        contentWidth = content.css("width");
        return parseFloat(contentWidth) / 2 + "px"
    };
    
    btnOrder.on("click", toggleCart);
    $(".closeButton").on("click", toggleCart)

    function toggleCart() {
        const contentWidth = getContentWidth();
        if (!cartOut) {
            cart.css("right", 0)
            let padding = contentWidth
            content.css("padding-right", padding)
            btnOrder.html("Hide order")
            outButton.css("display", "none")
        }else {
            cart.css("right", "-" + contentWidth)
            content.css("padding-right", "0px")
            btnOrder.html("Show order")
            outButton.css("display", "block")
        }
        cartOut = !cartOut 
    }

    $(window).on("resize", function () {
        if (cartOut) {
            content.css("padding-right", getContentWidth());
        } else {
            cart.css("right", "-" + getContentWidth())
        }
    });
</script>


<script>
    // checkbox handler
    $('.fieldOptionContainer input[type="checkbox"]').on('click', function (e) {
        let name = $(this).attr('name');
        $('input[name="' + name + '"]').not(this).prop('checked', false);

        calculateTotalPrice();
        updateCart();
    });
</script>

<script defer>
    // calculate total price
    function calculateTotalPrice() {
        let total = 0;

        $('.fieldOptionContainer input[type="checkbox"]:checked').each(function () {
            total += parseFloat($(this).data('price'));
        });

        console.log("Total Price:", total);
        $(".netPrice").text(total.toFixed(0) + " EUR");
        $(".msrpPrice").text((total * 1.4).toFixed(0) + " EUR");
    }

    calculateTotalPrice();
</script>

<script defer>
    // update cart
    function updateCart() {
        let $cartBody = $(".cart table tbody");

        $cartBody.empty();

        $('.fieldOptionContainer input[type="checkbox"]:checked').each(function (index) {
            let item = $(this).data('item');
            let net = parseFloat($(this).data('price')).toFixed(0);
            let msrp = (net * 1.4).toFixed(0);
            let qty = $(this).data('qty') || 1;

            $cartBody.append(`
                <tr>
                    <td>${index + 1}</td>
                    <td>${item}</td>
                    <td>${msrp} <small>EUR</small></td>
                    <td>${net} <small>EUR</small></td>
                    <td>${qty}</td>
                </tr>
            `);
        });

        if ($cartBody.children().length === 0) {
            $cartBody.append(`
                <tr>
                    <td colspan="5" class="text-center">No items in cart</td>
                </tr>
            `);
        }
    }

    updateCart();
</script>

<script defer>
    // form
    const requiredFieldNames = ("{% for category, fields in grouped_data.items %}{% for field_data in fields %}{% if field_data.isRequired %}{{ field_data.field.lableText }}~{% endif %}{% endfor %}{% endfor %}").split("~").slice(0,-1)
    
    $("form").on("submit", function (e) {
        e.preventDefault();

        let inputs = $('.fieldOptionContainer input[type="checkbox"]:checked');

        // required check
        let selectedNames = inputs.map(function () {
            return $(this).attr('name');
        }).get();

        let missingFields = requiredFieldNames.filter(requiredField => !selectedNames.includes(requiredField));

        if (missingFields.length > 0) {
            alert("The following required fields are missing: " + missingFields.join(", "));
        } else {
            // send
            let formData = inputs.map(function () {
                return {
                    name: $(this).attr('name'),
                    value: $(this).val()
                };
            }).get();
            
            $.ajax({
                url: "/summary",
                method: "POST",
                data: formData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (response) {
                    console.log("Response from server:", response);
                    window.location.href = '/summary';
                },
                error: function (error) {
                    alert("An error occurred during submission.");
                }
            });
        }
    });
</script>
{% endblock script %}