{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page p-4">
    <h4>Order confirm</h4>
    <div class="breadcrumb d-flex gap-2">
        <a href="/"><i data-feather="home"></i></a> 
        <p>/</p>
        <a href="/excavator"><b>Excavator</b></a>
        <p>/</p>
        <b>Order summary</b>
    </div>
    <div class="content d-flex flex-column gap-4">
        <div class="box py-5 text-center">
            <h3 class="m-0">Thank you for your order</h3>
        </div>
    </div>
    

</div>
{% endblock content %}

{% block script %}
{% endblock script %}